<div class="container container-white">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 ">
        <h1 class="my-4">Juegos</h1>
        <div class="row" id="gamesZone">
          <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let game of games">
            <div class="card h-100">
              <a (click)="gotoGamePage(game.id)"><img class="card-img-top" src="{{game.imagePath}}"  alt=""></a>
              <div class="card-body">
                <h6 class="card-title links">
                  <a (click)="gotoGamePage(game.id)" class="links">{{game.gameTitle}}</a>
                </h6>
                <!--<p class="card-text">descipcion corta que ya veremos como la ponemos si la ponemos</p>-->
              </div>
              <div class="card-footer">
                <small class="text-muted">{{game.averageScore}} ★</small>
              </div>
            </div>
          </div>
        </div>
        <div id="loadZone"></div>
        <div class="row">
          <div class="col-lg-12 col-md-12 mb-12" style="align-items: center; width:100%" >
            <div class="card-body">
              <div class="card h-100">
                  <button class="btn btn-info" (click)="getMoreGames()">Mostrar Más</button>
              </div>

            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col-lg-9 -->
      <div class="col-lg-3 col-md-4 col-sm-4">
        <h1 class="my-4">Categorias</h1>
        <div class="container" style="margin: 10px;">

          <input type="checkbox" name="Horror" [(ngModel)]="filters[0]" > Horror<br>
          <input type="checkbox" name="Shooter" [(ngModel)]="filters[1]"> Shooter<br>
          <input type="checkbox" name="Action" [(ngModel)]="filters[2]"> Action<br>
          <input type="checkbox" name="Plataformer" [(ngModel)]="filters[3]"> Plataformer<br>
          <input type="checkbox" name="Sports" [(ngModel)]="filters[4]"> Sports<br>
          <input type="checkbox" name="Puzzles" [(ngModel)]="filters[5]"> Puzzles<br>
          <input type="checkbox" name="Narrative" [(ngModel)]="filters[6]"> Narrative<br>
          <input type="checkbox" name="RPG" [(ngModel)]="filters[7]"> RPG<br>
          <button (click)="searchWithFilters()">Busqueda con filtros</button>
        </div>
      </div>
      <!-- /.col-lg-3 -->
    </div>
    <!-- /.row -->
  </div>
