
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <img (click)="gotoIndex()" [src]="imgUrl" width="100" height="50">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" style="align-items: center;">
        <li class="nav-item" style="padding-right: 20px;">
          <a (click)="gotoGameList()" class="btn4" role="button">Juegos</a>
        </li>
        <li class="nav-item" style="padding-right: 20px;" *ngIf="loginService.isLogged() && loginService.isAdmin()">
          <a (click)="gotoAdminUpdates()" class="btn4" role="button">Editar juegos</a>
        </li>
        <li class="nav-item" *ngIf="!loginService.isLogged()">
          <button class="nav-link btn-danger"
            style="background-color: rgb(209, 6, 6); border-radius: 5px; margin: 2px; color: white"
            (click)="gotoLogin()">Iniciar sesión</button>
        </li>
        <li class="nav-item " *ngIf="!loginService.isLogged()">
          <button class="nav-link btn-danger"
            style="background-color: rgb(209, 6, 6); border-radius: 5px; margin: 2px; color: white"
            (click)="gotoRegister()">Registrarse</button>
        </li>
        <li class="nav-item" *ngIf="loginService.isLogged()">
          <img src="{{loginService.user.imagePath}}" width="50" height="50"
            style="margin-left: 20px; border-radius: 150px;" (click)="gotoProfile()">
        </li>
      </ul>
    </div>
  </div>
</nav>
