<!-- Page Content -->
<div class="container container-white">
    <div class="row">
        <div class="col-lg-9 col col-md-8 col-sm-8 ">
            <a (click)="gotoGamePage(26)">
                <h1 class="game_tittle links">Hollow Knight</h1>
                <img class="d-block img-fluid"  src="assets/hollow-knight.jpg" alt="First slide" width="900" height="350">
            </a>
            <div class="row"
                style="background-color: rgb(209, 6, 6); color: white; border-radius: 5px; padding: 5px; margin: auto;">
                Posts Varios
            </div>
            <div class="row">
                <div *ngFor="let game of games;" class="col-lg-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <a (click)="gotoGamePage(game.id)"><img class="card-img-top" src="{{game.imagePath}}" alt=""></a>
                        <div class="card-body">
                            <h6 class="card-title">
                                <a href="/gamePage/" class="links">{{game.gameTitle}}</a>
                            </h6>
                            <!--<p class="card-text">descripcion del juego</p>-->
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{game.averageScore}} ★</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /.col-lg-9 -->
        <div class="col-lg-3 col-md-4 col-sm-4">
            <h2 class="my-4">whatlist</h2>
            <div class="container" style="margin-right: 20px; margin-bottom: 20px;">
                <!--
        {{#selectedList}}
        <div class="card h-100">
          <a href="/gamePage/{{id}}"><img class="card-img-top" src="/gamePage/{{id}}/image" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#" class="links"></a>
            </h4>
            <p class="card-text">{{gameTitle}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{averageScore}} ★</small>
          </div>
        </div>
        {{/selectedList}}-->

            </div>
        </div>
        <!-- /.col-lg-3 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
