<div class="container container-white">
  <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mt-4" id="mainTitle">{{post.title}}</h1>

        <!-- Author -->
        <p class="lead" id="mainAuthor">
          by {{post.author}}
        </p>
        <div *ngIf="logged">
          <button (click)="gotoEditPost()">Editar post</button>
          <button (click)="deleteThis()" style="background-color: red;">Borrar post</button>
        </div>

        <hr>

        <!-- Date/Time -->
        <p id="date1"><strong>Fecha de creacion:{{post.creationDate}}</strong></p>
        <p id="date2"><strong>Fecha de la última actualización:{{post.updateDate}}</strong></p>

        <hr>
        <img class="img-fluid rounded" src="{{post.imagePath}}" alt="">


        <hr>

        <!-- Post Content -->
        <p class="lead mainText" id="mainText">{{post.postText}}</p>
        <hr>

    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-lg-3 col-md-4 col-sm-4">


      <div class="container" style="margin-right: 20px; margin-bottom: 20px;">


    </div>
  </div>
</div>

